%form.docomo-cf(role="form")
  %fieldset.docomo-split-pull
    %legend Common input controls
    .control-group
      .controls
        %input(type="text" placeholder="text")
    .control-group
      .controls
        %input(type="email" placeholder="name@example.com")
    .control-group
      .controls
        %input(type="password" placeholder="password")
    .control-group
      .controls
        %input(type="url" placeholder="www.example.com")
    .control-group
      .controls
        %input(type="tel" placeholder="303-867-5309")
    .control-group
      .controls
        %input(type="search" placeholder="search")
    .control-group
      .controls
        %input(type="date" placeholder="date")
    .control-group
      .controls
        %input(type="number" placeholder="number" max="10" min="0")

  %fieldset.docomo-split-push
    %legend Less common input controls
    .control-group
      .controls
        %input(type="datetime" placeholder="datetime")
    .control-group
      .controls
        %input(type="datetime-local" placeholder="datetime-local")
    .control-group
      .controls
        %input(type="time" placeholder="time")
    .control-group
      .controls
        %input(type="month" placeholder="month")
    .control-group
      .controls
        %input(type="week" placeholder="week")
    .control-group
      .controls
        %input(type="range" placeholder="range" max="10" min="0" step=".5")
    .control-group
      .controls
        %input(type="color" value="#ff00ff")
    .control-group
      .controls
        %input(type="file" value="file")
    .control-group
      %label.control-label <abbr title="The input field's type is set to hidden">Hidden Input Field</abbr>
      .controls
        %input(type="hidden" placeholder="hidden")

