%section#demo_form.button-toolbar(style="margin-bottom:1em;")
  %nav.button-group(data-bindable="toggle-button-group" data-remove="form-vertical form-horizontal form-stack")
    %button.btn.active(data-add="") Default
    %button.btn(data-add="form-horizontal") Horizontal
    %button.btn(data-add="form-stack") Stack
  %nav.button-group(data-bindable="toggle-button-group" data-remove="well fill")
    %button.btn.active(data-add="") None
    %button.btn(data-add="well") Well
    %button.btn(data-add="well fill") Well Fill
  %nav.button-group(data-bindable="toggle-button-group" data-remove="disabled error success")
    %button.btn.active(data-add="") Normal
    %button.btn(data-add="disabled") Disabled
    %button.btn(data-add="success") Success
    %button.btn(data-add="error") Error

%form(role="form")
  %fieldset
    %legend Standard information
    -# Text inputs
    .control-group
      %label.control-label(for="fcs_text") Text:<abbr title="Required">*</abbr>
      .controls
        %input#fcs_text(type="text" placeholder="Enter your name")
        %p.hint-inline.error-msg That failed terribly
        %p.hint-inline.success-msg Gold stars all around
        %p.hint-block First and last name
    .control-group
      %label.control-label(for="fcs_email") Email:<abbr title="Required">*</abbr>
      .controls
        %input#fcs_email(type="email" placeholder="name@example.com")
        %p.hint-inline No AOL accounts!
        %p.hint-inline.error-msg That failed terribly
        %p.hint-inline.success-msg Gold stars all around
        %p.hint-block We won't share it
    .control-group.file-browser
      %label.control-label(for="fcs_file") File Browser:
      .controls
        %input#fcs_file(type="file" value="file")
        %p.hint-inline.error-msg That failed terribly
        %p.hint-inline.success-msg Gold stars all around
    .control-group
      %label.control-label(for="fcs_textarea") Textarea:
      .controls
        .input-bg.hidden
          %textarea#fcs_textarea(placeholder="Enter the textarea..." rows="8")
        %textarea#fcs_textarea2.no-stack(placeholder="Enter the textarea..." rows="8")
        %p.hint-inline.error-msg That failed terribly
        %p.hint-inline.success-msg Gold stars all around
    -# Uneditable
    .control-group
      %label.control-label(for="fcs_uneditable") <abbr title="Fill out entire form first">Uneditable field:</abbr>
      .controls
        %input#fcs_uneditable.uneditable-field(type="text" placeholder="text" value="Can't touch this!" disabled)
        %p.hint-inline Hurry up!
        %p.hint-inline.error-msg That failed terribly
        %p.hint-inline.success-msg Gold stars all around

  %fieldset
    %legend Make a choice
    -# Radios
    .control-group.radio-buttons
      %label.control-label Radio:
      .controls
        %label.radio(for="fcs_radio1-1")
          %input#fcs_radio1-1(type="radio" name="fc[radios1]" value="true" checked) Yes, to radio buttons
        %label.radio(for="fcs_radio1-2")
          %input#fcs_radio1-2(type="radio" name="fc[radios1]" value="false") No, to radio buttons
    .control-group.radio-buttons
      %label.control-label Radio Inline:
      .controls
        %label.radio-inline(for="fcs_radio2-1")
          %input#fcs_radio2-1(type="radio" name="fc[radios2]" value="true" checked) Yes, to inline radios
        %label.radio-inline(for="fcs_radio2-2")
          %input#fcs_radio2-2(type="radio" name="fc[radios2]" value="false") No, to inline radios
        %p.hint-inline.error-msg That failed terribly
        %p.hint-inline.success-msg Gold stars all around
    -# Checks
    .control-group.check-boxes
      %label.control-label Checkbox:
      .controls
        %label.checkbox(for="fcs_check1-1")
          %input#fcs_check1-1(type="checkbox" value="0") Check your premises
        %label.checkbox(for="fcs_check1-2")
          %input#fcs_check1-2(type="checkbox" value="1" checked) Premises, checked.
    .control-group.check-boxes
      %label.control-label Checkbox Inline:
      .controls
        %label.checkbox-inline(for="fcs_check2-1")
          %input#fcs_check2-1(type="checkbox" value="0") Check your inline premises
        %label.checkbox-inline(for="fcs_check2-2")
          %input#fcs_check2-2(type="checkbox" value="1" checked) Premises inline, checked.
        %p.hint-inline.error-msg That failed terribly
        %p.hint-inline.success-msg Gold stars all around
    -# Selects
    .control-group.select
      %label.control-label(for="fcs_multiselect") Multiple Select:
      .controls
        %select#fcs_multiselect(multiple)
          %option(value="1") One
          %option(selected="selected" value="2") Two
          %option(value="3") Three
          %option(value="4") Four
          %option(value="5") Five
        %p.hint-inline.error-msg That failed terribly
        %p.hint-inline.success-msg Gold stars all around
    .control-group.select
      %label.control-label(for="fcs_select") Select:
      .controls
        %select
          %option(selected="selected" value="denver") Denver
          %option(value="boulder") Boulder
          %option(value="los angeles") Los Angeles
          %option(value="san francisco") San Francisco
        %p.hint-inline.error-msg That failed terribly
        %p.hint-inline.success-msg Gold stars all around

    .form-actions
      %input.btn.standard(type="submit" value="Submit")
      %input.btn.standard(type="reset" value="Cancel")

