
%nav
  %ul#radios.nav.inline(data-bindable="togglable-group" data-target=".radio-li")
    %li.radio-li<
      %a(href="#") Radio 1
    %li.radio-li<
      %a(href="#") Radio 2
    %li.radio-li<
      %a(href="#") Radio 3
    %li.not-link Not a link
%hr
%nav(style="margin-top: 1em;")
  %ul#checks.nav.inline(data-bindable="togglable-group" data-behavior="checkbox")
    %li<
      %a(href="#") Checkbox 1
    %li<
      %a(href="#") Checkbox 2
    %li<
      %a(href="#") Checkbox 3
    %li.not-link Not a link
%hr
%nav(style="margin-top: 1em;")
  %ul#radios_delay.nav.inline(data-bindable="togglable-group" data-delay="activate: 500, deactivate: 500")
    %li.radio-li<
      %a(href="#") Radio 1 Delay
    %li.radio-li<
      %a(href="#") Radio 2 Delay
    %li.radio-li<
      %a(href="#") Radio 3 Delay

%hr
%nav(style="margin-top: 2em;")
  %ul#related_radio_nav.nav.inline(data-bindable="togglable-group" data-related="#related_radio_content .togglable-pane")
    %li.active<
      %a(href="#related_rone") Related Radio 1
    %li<
      %a(href="#" data-target="#related_rtwo") Related Radio 2
    %li<
      %a(href="#related_rthree") Related Radio 3

%section#related_radio_content.togglable-content(style="margin-top:1.25em;")
  %article.togglable-pane.active#related_rone
    %p Related radio content <span class="decal important">one</span>
  %article.togglable-pane#related_rtwo
    %p Related radio content <span class="decal success">two</span>
  %article.togglable-pane#related_rthree
    %p Related radio content <span class="decal danger">three</span>

%hr
%nav(style="margin-top: 2em;")
  %ul#related_check_nav.nav.inline(data-bindable="togglable-group" data-behavior="checkbox" data-related="#related_check_content .togglable-pane")
    %li.active<
      %a(href="#related_cone") Related Check 1
    %li<
      %a(href="#" data-target="#related_ctwo") Related Check 2
    %li<
      %a(href="#related_cthree") Related Check 3

%section#related_check_content.togglable-content(style="margin-top:1.25em;")
  %article.togglable-pane.active#related_cone
    %p Related checkbox content <span class="decal important">one</span>
  %article.togglable-pane#related_ctwo
    %p Related checkbox content <span class="decal success">two</span>
  %article.togglable-pane#related_cthree
    %p Related checkbox content <span class="decal danger">three</span>

