
$table-bgc: $base-bgc !default
$table-border: $base-border !default
$table-band-odd-bgc: $table-bgc !default
$table-band-even-bgc: darken($table-band-odd-bgc, 5%) !default
$table-hover-bgc: darken($table-bgc, 10%) !default
$table-thead-bgc: darken($table-bgc, 12%) !default
$table-tfoot-bgc: darken($table-bgc, 5%) !default
$table-padding-lr: 0.5em !default
$table-padding-tb: 1em !default
$table-status-list: nil !default

table
  background-color: $table-bgc
  margin: 0.5em 0
  width: 100%

  caption
    font-size: 0.85em
    font-weight: bold
    text-align: left
    margin-bottom: 0.5em

  th, td
    border-top: 1px solid $table-border
    line-height: 1
    text-align: left
    padding: $table-padding-tb $table-padding-lr

  th
    font-weight: bold
    vertical-align: bottom

  thead:first-child tr th,
  thead:first-child tr td
    border-top: 0

  tfoot
    font-size: 0.85em

  tbody + tbody
    border-top: 2px solid $table-border

// Outer box
.table-box
  thead tr
    border: 1px solid $table-border
  tbody tr
    border: 1px solid $table-border
  tfoot tr
    border: 1px solid $table-border

  thead th
    &:first-child
      border-left-color: $table-border !important
    &:last-child
      border-right-color: $table-border !important
  tbody td
    &:first-child
      border-left-color: $table-border !important
    &:last-child
      border-right-color: $table-border !important

// Vertical borders
.table-vborder
  thead th
    border-left: 1px solid $table-border
    border-right: 1px solid $table-border
    &:first-child
      border-left-color: transparent
    &:last-child
      border-right-color: transparent

  tbody td
    border-left: 1px solid $table-border
    border-right: 1px solid $table-border
    &:first-child
      border-left-color: transparent
    &:last-child
      border-right-color: transparent

// Half the height of a normal table
.table-condensed
  th, td
    padding: ($table-padding-tb * 0.5) $table-padding-lr

// Banded table
.table-banded tbody tr
  &:nth-child(odd) td
    background-color: $table-band-odd-bgc
  &:nth-child(even) td
    background-color: $table-band-even-bgc

// Hoverable tables
.table-hover tbody tr:hover td
  background-color: $table-hover-bgc

// Colorize the table header background
.table-thead thead
  background-color: $table-thead-bgc

// Colorize the table footer background
.table-tfoot tfoot
  background-color: $table-tfoot-bgc

// Generate status cells if available
@if $table-status-list != nil
  @each $_table-status in $table-status-list
    $_class_name: nth($_table-status,1)
    $_color_value: nth($_table-status,2)
    table tbody tr.#{$_class_name} td,
    .table-banded tbody tr.#{$_class_name} td
      background-color: lighten($_color_value, 45%)
    .table-hover tbody tr.#{$_class_name}:hover td
      background-color: lighten($_color_value, 40%)

