
%h5(style="margin-bottom:1em;") Drops in Navigation
%nav
  %ul.nav.inline#drop_nav_demo
    %li.drop(data-bindable="drop")<
      %a.drop-toggle(href="#") Drop Normal <span class="caret"></span>
      %ul.nav.menu(data-bindable="toggle-group")
        %li<
          %a(href="#") Subnav 1
        %li<
          %a(href="#") Subnav 2
        %li<
          %a(href="#") Subnav 3

    %li.drop(data-bindable="drop" data-placement="north" data-toggle="active open hello" data-keyboard="false")<
      %a.drop-toggle(href="#") Drop North <span class="caret"></span>
      %ul.nav.menu(data-bindable="toggle-group")
        %li<
          %a(href="#") Subnav 1
        %li<
          %a(href="#") Subnav 2
        %li<
          %a(href="#") Subnav 3

    %li.drop(data-bindable="drop" data-placement="west")<
      %a.drop-toggle(href="#") Drop West <span class="caret"></span>
      %ul.nav.menu(data-bindable="toggle-group")
        %li<
          %a(href="#") Subnav 1
        %li<
          %a(href="#") Subnav 2
        %li<
          %a(href="#") Subnav 3

%h5(style="margin-bottom:1em; margin-top:2em;") Drops in Button Toolbar
%section.button-toolbar
  %nav.button-group#drop_button_demo
    %a.btn.drop(href="#" data-bindable="drop") Drop Button <span class="caret"></span>
    %ul.nav.menu(data-bindable="toggle-group")
      %li<
        %a(href="#") Subnav 1
      %li<
        %a(href="#") Subnav 2
      %li<
        %a(href="#") Subnav 3

  %nav.button-group#drop_split_demo
    %a.btn Action
    %a.btn.drop(data-bindable="drop") <span class="caret"></span>
    %ul.nav.menu(data-bindable="toggle-group")
      %li<
        %a(href="#") Subnav 1
      %li<
        %a(href="#") Subnav 2
      %li<
        %a(href="#") Subnav 3

  %nav.button-group#drop_delay_demo
    %a.btn Action
    %a.btn.drop(data-bindable="drop" data-placement="east" data-delay="500") <span class="caret"></span>
    %ul.nav.menu(data-bindable="toggle-group")
      %li<
        %a(href="#") Subnav 1
      %li<
        %a(href="#") Subnav 2
      %li<
        %a(href="#") Subnav 3

