
%section(style="width:25%; float:left; margin-right: 5%;")
  %p<
    %strong Unordered list:
  %ul
    %li Unordered list
    %li Unordered list
    %li
      Start nested unordered list
      %ul
        %li Nested unordered list
        %li Nested unordered list
        %li Nested unordered list
    %li Unordered list
    %li
      Start nested ordered list
      %ol
        %li Nested ordered list
        %li Nested ordered list
        %li Nested ordered list

%section(style="width:25%; float:left; margin-right: 5%;")
  %p<
    %strong Ordered list:
  %ol
    %li Ordered list
    %li Ordered list
    %li
      Start nested ordered list
      %ol
        %li Nested ordered list
        %li Nested ordered list
        %li Nested ordered list
    %li Ordered list
    %li
      Start nested unordered list
      %ul
        %li Nested unordered list
        %li Nested unordered list
        %li Nested unordered list

%section(style="width:25%; float:left;")
  %p<
    %strong Unstyled list:
  %ul.unstyled-list
    %li Unordered list
    %li Unordered list
    %li
      Start nested unordered list
      %ul
        %li Nested unordered list
        %li Nested unordered list
        %li Nested unordered list
    %li Unordered list
    %li
      Start nested ordered list
      %ol
        %li Nested ordered list
        %li Nested ordered list
        %li Nested ordered list

