%nav(role="navigation")
  %a.btn#triggerable_1(href="#") Triggerable Default
  %a.btn#triggerable_2(href="#" data-namespace="hoverable" data-trigger="hover") Triggerable Hover
  %a.btn#triggerable_3(href="#" data-namespace="focusable" data-trigger="focus") Triggerable Focus
  %a.btn#triggerable_4(href="#" data-delay="100, 100") Triggerable Delay
  %a.btn.disabled#triggerable_5(href="#") Triggerable Disabled

%nav(role="navigation")
  %ul#triggerable_radios.nav.inline
    %li.radio-li<
      %a(href="#") Radio 1
    %li.radio-li<
      %a(href="#") Radio 2
    %li.radio-li<
      %a(href="#") Radio 3

%nav(role="navigation")
  %ul#triggerable_checks.nav.inline
    %li<
      %a(href="#") Checkbox 1
    %li<
      %a(href="#") Checkbox 2
    %li<
      %a(href="#") Checkbox 3

