
body {
  margin: 0.5em;
}

#TrivialReporter {
  background-color: #eee;
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  padding: 1%;
}


/* Banner */
#TrivialReporter .banner {
  background-color: #ccc;
  border: 1px solid #333;
  border-top-left-radius: 0.4em;
  border-top-right-radius: 0.4em;
  color: #333;
  padding: 1em;
}

#TrivialReporter .logo {
  font-size: 1em;
  padding-left: 0;
}

#TrivialReporter .logo .title {
  font-weight: bold;
}

#TrivialReporter .options {
  color: #ccc;
}

#TrivialReporter .options label {
  color: #333;
}


/* Runner */
#TrivialReporter .runner {
  border: 1px solid #333;
  border-bottom-left-radius: 0.4em;
  border-bottom-right-radius: 0.4em;
  border-top: 0;
  margin: 0 0 2em 0;
  padding: 1em;
}

#TrivialReporter .runner.running {
  background-color: #ffc40d;
}

#TrivialReporter .runner.passed {
  background-color: #cfc;
}

#TrivialReporter .runner.failed {
  background-color: #b22222;
}

#TrivialReporter .finished-at,
#TrivialReporter .run_spec {
  display: none;
}


/* Suites */
#TrivialReporter .suite {
  border: 0;
  font-family: "Bitstream Vera Sans Mono", "Menslo LG M", "Menlo", "Monaco", monospace;
  font-size: 0.9em;
  margin: 0;
  padding: 0 1%;
}

#TrivialReporter .suite + .suite {
  margin-top: 2em;
}

#TrivialReporter .suite .suite {
  margin: 0;
  padding-left: 1em;
}

#TrivialReporter .suite.passed {
  background-color: transparent;
}

#TrivialReporter .suite.failed {
  background-color: transparent;
}

#TrivialReporter .suite .description {
  display: inline-block;
}

#TrivialReporter .runner ~ .suite > .description {
  border-bottom: 1px dotted #666;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: bold;
  display: block;
  margin-bottom: 0.5em;
  padding-bottom: 0.25em;
}

#TrivialReporter .runner ~ .suite.failed > .description {
  border-bottom-color: #b22222;
}


/* Specs */
#TrivialReporter .spec {
  font-size: 0.9em;
  margin: 0.5em 0;
  padding-left: 0;
}

#TrivialReporter .spec:last-child {
  margin-bottom: 1.5em;
}

#TrivialReporter .spec a:before {
  margin: 0 0.5em;
}

#TrivialReporter .spec.passed,
#TrivialReporter .spec.failed,
#TrivialReporter .spec.skipped {
  border: 0;
  padding: 0;
}

#TrivialReporter .spec.passed {
  background-color: transparent;
}

#TrivialReporter .spec.failed {
  background-color: transparent;
}

#TrivialReporter .spec.passed a:before {
  content: "\2713";
}

#TrivialReporter .spec.failed a:before {
  content: "\00d7";
}


/* Failures */
#TrivialReporter .messages {
  border-left: 0;
  padding: 1% 0;
}

#TrivialReporter .resultMessage {
  background-color: #b22222;
  border: 1px solid #333;
  border-top-left-radius: 0.4em;
  border-top-right-radius: 0.4em;
  color: white;
  padding: 1%;
}

#TrivialReporter .resultMessage span.result {
  line-height: 2;
}

#TrivialReporter .stackTrace {
  background-color: #222;
  border: 1px solid #333;
  border-top: 0;
  border-bottom-left-radius: 0.4em;
  border-bottom-right-radius: 0.4em;
  color: #ccc;
  font-size: 1em;
  max-height: none;
  margin-left: 0;
  padding: 1%;
}

#TrivialReporter .stackTrace:first-line {
  color: #d30002;
  line-height: 2.2;
}


/* Links */
#TrivialReporter a,
#TrivialReporter a:visited {
  color: #333;
  text-decoration: none;
}

#TrivialReporter a:hover,
#TrivialReporter a:active {
  color: #268bd2;
  text-decoration: underline;
}

#TrivialReporter .runner a:hover,
#TrivialReporter .runner a:active {
  text-decoration: none;
}

#TrivialReporter .runner.failed a,
#TrivialReporter .runner.failed a:visited {
  color: white;
}

#TrivialReporter .runner.failed a:hover,
#TrivialReporter .runner.failed a:active {
  color: #ccc;
}

#TrivialReporter .suite.passed > a:hover,
#TrivialReporter .suite.passed > a:active,
#TrivialReporter .spec.passed a,
#TrivialReporter .spec.passed a:visited,
#TrivialReporter .spec.passed a:hover,
#TrivialReporter .spec.passed a:active {
  color: #46a546;
}

#TrivialReporter .suite.failed > a,
#TrivialReporter .suite.failed > a:visited,
#TrivialReporter .suite.failed > a:hover,
#TrivialReporter .suite.failed > a:active,
#TrivialReporter .spec.failed a,
#TrivialReporter .spec.failed a:visited,
#TrivialReporter .spec.failed a:hover,
#TrivialReporter .spec.failed a:active {
  color: #b22222;
}

