%section.full-bleed#fill_window(data-bindable="full-bleed")
  %img(src="http://placehold.it/800x450" alt="fpo" width="800" height="450")

%section.full-bleed#no_fill_window(data-bindable="full-bleed" data-fills-window="false")
  %img(src="http://placehold.it/800x450" alt="fpo" width="800" height="450")

