.upgrade-notifications(aria-hidden="true")
  .upgrade-group
    %p.dinosaur-msg.upgrade-item
      You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or
      <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.
    %p.no-js-msg.upgrade-item
      For full functionality of this site it is necessary to enable <a href="http://www.enable-javascript.com/" target="_blank">JavaScript</a>.

