
%nav
  %ul.nav.inline#underoos_nav_demo
    %li
      %a(data-classes="nav" href="#") Base Nav
    %li.active
      %a(data-classes="nav inline" href="#") Base Nav Inline
    %li
      %a(data-classes="nav tabs" href="#") Tabs
    %li
      %a(data-classes="nav pills" href="#") Pills
    %li
      %a(data-classes="nav breadcrumb" href="#") Breadcrumbs
    %li
      %a(data-classes="nav pagination" href="#") Pagination
    %li
      %a(data-classes="nav tabs stacked" href="#") Stacked Tabs
    %li
      %a(data-classes="nav pills stacked" href="#") Stacked Pills

