
%nav#tab_demo(role="navigation")
  %ul.nav.tab(data-bindable="tab" data-related="#tab_content" role="tablist")
    %li.active<
      %a(href="#tab_one" role="tab") Tab One
    %li<
      %a(href="#" data-target="#tab_two" role="tab") Tab Two
    %li<
      %a(href="#tab_three" role="tab") Tab Three

    %li.drop(data-bindable="drop")
      %a.drop-toggle#tab_drop(href="#") Tab Drop <span class="caret"></span>
      %ul.nav.menu(role="menu" aria-labelledby="tab_drop")
        %li<
          %a(href="#tab_four" role="tab") Tab Four
        %li<
          %a(href="#tab_five" role="tab") Tab Five
        %li<
          %a(href="#tab_six" role="tab") Tab Six

%section#tab_content.tab-content(style="margin-top:1.25em;")
  %article.tab-pane.active#tab_one(role="tabpanel")
    %p Tab content <span class="decal important">one</span>
  %article.tab-pane#tab_two(role="tabpanel")
    %p Tab content <span class="decal success">two</span>
  %article.tab-pane#tab_three(role="tabpanel")
    %p Tab content <span class="decal danger">three</span>
  %article.tab-pane#tab_four(role="tabpanel")
    %p Tab sub content <span class="decal warning">four</span>
  %article.tab-pane#tab_five(role="tabpanel")
    %p Tab sub content <span class="decal inverse">five</span>
  %article.tab-pane#tab_six(role="tabpanel")
    %p Tab sub content <span class="decal important">six</span>

