.responsive-frame(data-bindable="responsive-frame")
  %iframe(src="http://player.vimeo.com/video/52507615" width="600" height="338" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen)

