
%a(data-bindable="tooltip" data-placement="north" title="The Northern Tooltip" href="#" data-delay="500") North
|
%a(data-bindable="tooltip" data-placement="south" title="The Southern Tooltip" href="#" data-delay="1000,2000") South
|
%a(data-bindable="tooltip" data-placement="east" title="The Eastern Tooltip" href="#") East
|
%a(data-bindable="tooltip" data-placement="west" title="The Western Tooltip" href="#") West
|
%a(data-bindable="tooltip" data-placement="south" title="<img src='http://placehold.it/350x150'/>" href="#") Image

