
%a(data-bindable="tooltip" data-delay="500" data-target=".sherpa-wrapper" title="The Northern Tooltip" href="#") North
|
%a(data-bindable="tooltip" data-placement="south" data-delay="1000,2000" title="The Southern Tooltip" href="#") South
|
%a(data-bindable="tooltip" data-placement="east" title="The Eastern Tooltip" href="#") East
|
%a(data-bindable="tooltip" data-placement="west" title="The Western Tooltip" href="#") West
|
%a(data-bindable="tooltip" data-placement="south" data-trigger="click" title="<img src='http://placehold.it/350x150'/>" href="#") Image (click)

