%form.form-stack.docomo-clearfix(role="form")
  %fieldset.docomo-split-pull
    %legend Common input controls
    .control-group
      %label Text
      .controls
        %input(type="text" placeholder="text")
    .control-group
      %label Email
      .controls
        %input(type="email" placeholder="name@example.com")
    .control-group
      %label Password
      .controls
        %input(type="password" placeholder="password")
    .control-group
      %label URL
      .controls
        %input(type="url" placeholder="www.example.com")
    .control-group
      %label Tel
      .controls
        %input(type="tel" placeholder="303-867-5309")
    .control-group
      %label Search
      .controls
        %input(type="search" placeholder="search")
    .control-group
      %label Date
      .controls
        %input(type="date" placeholder="date")
    .control-group
      %label Number
      .controls
        %input(type="number" placeholder="number" max="10" min="0")

  %fieldset.docomo-split-push
    %legend Less common input controls
    .control-group
      %label Datetime
      .controls
        %input(type="datetime" placeholder="datetime")
    .control-group
      %label Datetime Local
      .controls
        %input(type="datetime-local" placeholder="datetime-local")
    .control-group
      %label Time
      .controls
        %input(type="time" placeholder="time")
    .control-group
      %label Month
      .controls
        %input(type="month" placeholder="month")
    .control-group
      %label Week
      .controls
        %input(type="week" placeholder="week")
    .control-group
      %label Textarea
      .controls
        %textarea(rows="10" placeholder="textarea")

