
$menu-bgc: $base-bgc !default
$menu-bgc-hover: $base-bgc-hover !default
$menu-bgc-active: $base-bgc-active !default
$menu-border: $base-border !default
$menu-radii: $radii !default

.menu
  background-clip: padding-box
  background-color: $menu-bgc
  border: 1px solid $menu-border
  border-radius: $menu-radii

.menu li > a
  border-bottom: 1px solid $menu-border
  padding: 0.5em 0.8em
  display: block
  clear: both
  white-space: nowrap

.menu li:first-child > a
  border-top-left-radius: $menu-radii
  border-top-right-radius: $menu-radii

.menu li:last-child > a
  border-bottom: none
  border-bottom-left-radius: $menu-radii
  border-bottom-right-radius: $menu-radii

.menu li > a:hover
  background-color: $menu-bgc-hover

.menu li > a:active,
.menu .active > a,
.menu .active > a:hover,
.menu .active > a:active
  background-color: $menu-bgc-active

