
:css
  .box {
    display: block;
    width: 50px;
    height: 50px;
    background-color: blue;
    margin-bottom: 10px;
    border: 1px solid transparent;
  }
  .box.active {
    background-color: green;
  }
  .box.in {
    background-color: red;
  }
  .box.bordered {
    border-color: black;
  }
  .hello.active {
    color: green;
  }

  .tester .active a {
    color: #ff00ff;
  }


%hr
%h1.hello Testing

%a(data-bindable="tooltip" title="The Tooltip" href="#this") Top

%a.box(data-bindable="toggler" data-lookup="siblings" data-trigger="hover" data-target=".hello" href="#")
  .hello
%a.box(data-bindable="toggler" data-toggle="in bordered" href="#")

%br
%br

%nav.tester
  %ul.nav(data-bindable="toggler-group")
    %li
      %a(href="#") Radio 1
    %li
      %a(href="#") Radio 2
    %li
      %a(href="#") Radio 3

%br
%br

%nav.tester
  %ul.nav(data-bindable="toggler-group" data-behavior="checkbox")
    %li
      %a(href="#") Checkbox 1
    %li
      %a(href="#") Checkbox 2
    %li
      %a(href="#") Checkbox 3

%hr
%br
%br
%br
%br
%br
%br

= render :partial => 'pages/partials/base'

