
%section.container(style="margin-top: 3em;")
  %h1 Utensils

  %p Client side component library

  %p &raquo; <a href="/docs">Documentation</a>
  %p &raquo; <a href="/jasmine">Jasmine Tests</a>
  %p &raquo; <a href="http://www.modeset.com/">Mode Set</a>

  %figure(style="margin-top: 3em;")<
    %img(src="https://secure.gravatar.com/avatar/aa8ea677b07f626479fd280049b0e19f?s=75" alt="modeset")

