
// TODO:
// Simplify and clean

.tooltip
  +font-size(12)
  +opacity(0)
  font-weight: bold
  padding: 5px
  display: block
  position: absolute
  visibility: visible
  // z-index: $zindex_tips
  z-index: 1000
  &.in
    +opacity(0.9)
  &.north
    margin-top: -2px
  &.south
    margin-top: 2px
  &.west
    margin-left: -2px
  &.east
    margin-left: 2px
  &.north .tooltip-arrow
    // +arrow_south(invert($body_bg))
    +arrow_south(black)
    bottom: 0
    left: 50%
  &.south .tooltip-arrow
    // +arrow_north(invert($body_bg))
    +arrow_north(black)
    top: 0
    left: 50%
  &.west .tooltip-arrow
    // +arrow_east(invert($body_bg))
    +arrow_east(black)
    top: 50%
    right: 0
  &.east .tooltip-arrow
    // +arrow_west(invert($body_bg))
    +arrow_west(black)
    top: 50%
    left: 0

.tooltip-inner
  // background-color: invert($body_bg)
  background-color: black
  // border-radius: $radii
  border-radius: 0.25em
  // color: $body_bg
  color: white
  text-align: center
  line-height: 1.4
  padding: 0.5em

