
$nav-inline-padding-left: 0.5em !default
$nav-inline-padding-right: $nav-inline-padding-left !default

// Top level elements
html
  font-size: 100%
  -webkit-font-smoothing: antialiased
  -webkit-text-size-adjust: 100%
  -ms-text-size-adjust: 100%

html, button, input, select, textarea
  color: $body-color
  font-family: $sans-norm

body
  +font-size($base-font-size)
  background: $body-bg
  line-height: $base-line-height
  margin: 0

\::-moz-selection
  +text-selection($select-bg, $select-color)

\::selection
  +text-selection($select-bg, $select-color)

// Links
a, a:visited
  color: $link-color
  text-decoration: none

a:focus
  outline: thin dotted

a:hover, a:active
  outline: 0
  text-decoration: none

a:hover
  color: $link-hover

a:active, a.active, .active > a
  color: $link-hover

a:link
  -webkit-tap-highlight-color: $tap-highlight

// Base navigation
.nav
  +clearfixer
  list-style: none

.nav > li
  margin-left: 0

.nav > li > a
  display: block

.nav.inline > li
  float: left

.nav.inline > li > a
  padding-left: $nav-inline-padding-left
  padding-right: $nav-inline-padding-right

.nav.inline > li:first-child > a
  padding-left: 0


// Active states for navs get a default cursor
.nav > .active > a,
.nav > .active > a:hover
  cursor: default
.nav > .dropdown.active > a:hover
  cursor: pointer

.nav[data-behavior="checkbox"] > .active > a,
.nav[data-behavior="checkbox"] > .active > a:hover
  cursor: pointer

// TODO: Figure this cat out
// Headers within a Nav
// .nav .nav-header
  // display: block
  // color: $component_normal
  // font-size: 0.75em
  // font-weight: bold
  // text-transform: uppercase
  // text-shadow: $text_drop_lite
  // padding: 0.4em 1em

// .nav li + .nav-header
  // margin-top: 1em

