
%ul.media-grid
  %li(style="width:25%")
    %figure.media-item
      %img(src="http://placehold.it/260x180" width="260" height="180")
      %figcaption.media-caption
        %h3 Media Item
        %p This is some caption copy with the footer aligned to the left.
        %footer.media-caption-footer
          %button.btn Action
  %li(style="width:25%")
    %a.media-item(href="#")
      %img(src="http://placehold.it/260x180" width="260" height="180")
  %li(style="width:25%")
    %figure.media-item
      %a.media-item(href="#")
        %img(src="http://placehold.it/260x180" width="260" height="180")
      %figcaption.media-caption
        %h3 Media Item
        %p This is some caption copy with the footer aligned to the right.
        %footer.media-caption-footer.media-caption-right
          %button.btn Action
  %li(style="width:25%")
    %figure.media-item
      %img(src="http://placehold.it/260x180" width="260" height="180")

