
%nav
  %ul.pager
    %li.disabled<
      %a(href="#") &larr; Prev
    %li<
      %a(href="#") Next &rarr;
%hr
%nav
  %ul.pager.pager-center
    %li<
      %a(href="#") &larr; Prev
    %li<
      %a(href="#") Next &rarr;
%hr
%nav
  %ul.pager.pager-right
    %li<
      %a(href="#") &larr; Prev
    %li.disabled<
      %a(href="#") Next &rarr;
%hr
%nav
  %ul.pager
    %li.pager-prev<
      %a(href="#") &larr; Prev
    %li.pager-next<
      %a(href="#") Next &rarr;

