//= require application
//= require docomo/pygments
//= require docomo/application

#jasmine_frame
  background-color: white
  background-color: rgba(255,255,255,0.9)
  border: 1px solid #ccc
  border-radius: 1em
  padding: 10px
  position: fixed
  top: 20px
  right: 20px
  width: 800px
  height: 80px

#jasmine_frame  > iframe
  width: 800px
  height: 80px

