//= require application
//= require docomo/pygments
//= require docomo/application

#jasmine_frame
  background-color: white
  background-color: rgba(255,255,255,0.9)
  border: 1px solid #ccc
  border-radius: 1em
  padding: 10px
  position: fixed
  top: 20px
  right: 20px
  width: 800px
  height: 80px

#jasmine_frame  > iframe
  width: 800px
  height: 80px

.docomo-section > p > em,
.docomo-section > p > strong
  border-radius: 0.4em
  font-size: 85%
  color: white
  text-transform: uppercase
  padding: 0.125em 0.5em

.docomo-section > p > em
  background-color: #b22222
  font-weight: bold
  font-style: normal
.docomo-section > p > strong
  background-color: #268bd2

.docomo-section > pre + h3
  margin-top: 2em

.docomo-section > table
  border-collapse: collapse
  border-spacing: 0
  font-size: 100%
  font: inherit
  margin: 1.25em 0

.docomo-section > table tr th
  background-color: #f2f2f2
  font-weight: bold

.docomo-section > table tr th,
.docomo-section > table tr td
  border: 1px solid #ccc
  text-align: left
  margin: 0
  padding: 0.75em 0.5em

.docomo-section > table tr
  border-top: 1px solid #ccc
  background-color: #fff
  margin: 0
  padding: 0

.docomo-section > table tr:nth-child(2n)
  background-color: #f8f8f8

