
%section.carousel(data-bindable="carousel" data-autoplay="false" data-cycles="1" data-duration="1" data-keyboard="true" role="presentation")
  %nav.carousel-controls.fade.in
    %a.paddle-icon.west(href="#prev") &larr;
    %a.paddle-icon.east(href="#next") &rarr;
    %ul.nav.indication
  %section.carousel-inner
    - 4.times do |i|
      %article.carousel-panel(class="fade")
        %figure.carousel-figure
          %img(src="http://lorempixel.com/600/400/#{i}" alt="image")
          %figcaption.carousel-caption

