
%ul.media-container
  %li(style="width:25%")
    %figure.media-item
      %img(src="/assets/fpo/snow-260x180.png")
      %figcaption.media-caption
        %h3 Media Item
        %p This is some caption copy with the footer aligned to the left.
        %footer.media-caption-footer
          %button.btn Action
  %li(style="width:25%")
    %a.media-item(href="#")
      %img(src="/assets/fpo/snow-260x180.png")
  %li(style="width:25%")
    %figure.media-item
      %a.media-item(href="#")
        %img(src="/assets/fpo/snow-260x180.png")
      %figcaption.media-caption
        %h3 Media Item
        %p This is some caption copy with the footer aligned to the right.
        %footer.media-caption-footer.media-caption-right
          %button.btn Action
  %li(style="width:25%")
    %figure.media-item
      %img(src="/assets/fpo/snow-260x180.png")

