%ul#flash_message.flash-message.top-right
  - flash.each do |kind, message|
    %li.notification.fade.in{class: kind}
      %p= message
      %button.close(type="button" data-bindable="dismiss" data-auto-dismiss="3000") &times;

