
//~
// Containers are used to "contain" elements of content within a page or section.
// All containers inject a [micro clearfix](http://nicolasgallagher.com/micro-clearfix-hack/)
// to clear any floats from interior elements.
//
// Class              | Usage
// ------------------ | -----------------------------------
// `.container`       | The default container is a fluid width container with a `max-width` set to the `$base_width` variable.
// `.container.outer` | Adding the `.outer` class to a `container` adds left and right padding, which creates a little breathing room in fluid layouts from the browser's edges.
// `.container.fluid` | Adding the `.fluid` class to a `container` will remove the `max-width` setting and allow the container to fill the browser window.
// `.container.fixed` | Adding the `.fixed` class to a `container` will render it using fixed width pixels with no responsive behavior.

.container
  +box-sizing(border-box)
  +clearfixer
  max-width: $base_width * 1px
  margin-left: auto
  margin-right: auto
  &.outer
    padding-left: 1%
    padding-right: 1%
  &.fluid, &.fixed
    max-width: none
  &.fixed
    width: $base_width * 1px

