
%nav
  %ol.nav.breadcrumb(data-bindable="togglable-group")
    %li<
      %a(href="#") Level 1
    %li<
      %a(href="#") Level 2
    %li<
      %a(href="#") Level 3
    %li.active<
      %a(href="#") Active

