
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title>Docs</title>
    <meta name="imagetoolbar" content="no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-touch-fullscreen" content="YES" />
    <meta name="apple-mobile-web-app-capable" content="YES" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <link rel="stylesheet" href="/assets/application.css" type="text/css">
    <link rel="stylesheet" href="/docs/sherpa.css" type="text/css">
  </head>

  <body>

    <section class="sherpa-wrapper sherpa-container sherpa-clearfix">
      {{{layout}}}
    </section>

    <footer class="sherpa-footer sherpa-container sherpa-clearfix">
      <p>&raquo; <a href="#">Github Repository</a></p>
    </footer>
    <script src="/assets/application.js"></script>
  </body>
</html>

