
%form
  %fieldset
    %legend Uneditable Controls
    .control-group
      %label(for="fcu_text") Uneditable field<abbr title="Fill entire form first">!</abbr>
      .controls
        %span.uneditable-input.input-small Can't touch this!
        %p.hint.inline Hurry up!

