
%form.sherpa-clearfix
  %fieldset.sherpa-split-pull
    %legend Common input controls
    .control-group
      .controls
        %input.input-large(type="text" placeholder="text")
    .control-group
      .controls
        %input.input-large(type="email" placeholder="name@example.com")
    .control-group
      .controls
        %input.input-large(type="password" placeholder="password")
    .control-group
      .controls
        %input.input-large(type="url" placeholder="www.example.com")
    .control-group
      .controls
        %input.input-large(type="tel" placeholder="303-867-5309")
    .control-group
      .controls
        %input.input-large(type="search" placeholder="google")
    .control-group
      .controls
        %input.input-medium(type="date" placeholder="date")
    .control-group
      .controls
        %input.input-small(type="number" placeholder="number" max="10" min="0")

  %fieldset.sherpa-split-push
    %legend Less common input controls
    .control-group
      .controls
        %input.input-large(type="datetime" placeholder="datetime")
    .control-group
      .controls
        %input.input-large(type="datetime-local" placeholder="datetime-local")
    .control-group
      .controls
        %input.input-large(type="time" placeholder="time")
    .control-group
      .controls
        %input.input-large(type="month" placeholder="month")
    .control-group
      .controls
        %input.input-large(type="week" placeholder="week")
    .control-group
      .controls
        %input.input-medium(type="range" placeholder="range" max="10" min="0" step=".5")
    .control-group
      .controls
        %input.input-xsmall(type="color" value="#ff00ff")
    .control-group
      %label <abbr title="The input field's type is set to hidden">Hidden Input Field</abbr>
      .controls
        %input.input-small(type="hidden" placeholder="hidden")

