
%form
  %fieldset
    %legend Description Elements

    .control-group
      %label(for="fcd_text1") Label Name<abbr title="Required">*</abbr>
      .controls
        %input#fcd_text1(type="text" placeholder="text")
        %p.hint The hint for the control element

    .control-group
      %label(for="fcd_text2") Label Name<abbr title="Required">*</abbr>
      .controls
        %input#fcd_text2(type="text" placeholder="text")
        %p.hint.inline The inline hint for the control element

