
%form
  %fieldset
    %legend I am Legend
    .control-group
      %label(for="fcs_text") Label Name<abbr title="Required">*</abbr>
      .controls
        %input#fcs_text(type="text" placeholder="text")
        %p.hint The hint for the control element

