
$tab-bgc: $base-bgc !default
$tab-bgc-hover: $base-bgc-hover !default
$tab-bgc-active: $base-bgc-active !default
$tab-border: $base-border !default
$tab-radii: $radii !default

.tab
  border-bottom: 1px solid $tab-border

.tab > li
  float: left
  margin-right: 0.15em
  margin-bottom: -1px

.tab > li:last-child
  margin-right: 0

.tab > li > a
  border: 1px solid transparent
  border-radius: $tab-radii $tab-radii 0 0
  padding: 0.5em 0.8em

.tab > li > a:hover
  background-color: $tab-bgc-hover
  border-color: $tab-bgc-hover
  border-bottom-color: $tab-border

.tab > .active > a,
.tab > .active > a:hover,
.tab > .selected > a
  background-color: $tab-bgc
  border: 1px solid $tab-border
  border-bottom-color: $tab-bgc

.tab > .selected > a:hover
  background-color: $tab-bgc-hover
  border: 1px solid $tab-border
  border-bottom-color: $tab-bgc-hover

