
%nav(role="navigation")
  %ol.nav.breadcrumb(data-bindable="toggle-group")
    %li<
      %a(href="#") Level 1
    %li<
      %a(href="#") Level 2
    %li<
      %a(href="#") Level 3
    %li.active<
      %a(href="#") Active

