%section.carousel(data-bindable="carousel-touch-infinite" role="presentation")
  %nav.carousel-controls
    %a.paddle-icon.west(href="#prev") &larr;
    %a.paddle-icon.east(href="#next") &rarr;
  %section.carousel-inner
    - (["ff00ff", "00ffff", "ff0000", "666666"]).each do |i|
      %article.carousel-panel
        %figure.carousel-figure
          %img(src="http://placehold.it/600x400/#{i}/ffffff" alt="image")

