
%form
  %fieldset
    %legend I am Legend

    .control-group
      %label(for="fcd_text1") Label<abbr title="Required">*</abbr>
      .controls
        %input#fcd_text1(type="text" placeholder="text")
        %p.hint The hint for the control element

    %hr

    .control-group
      %label(for="fcd_text2") Label<abbr title="Required">*</abbr>
      .controls
        %input#fcd_text2(type="text" placeholder="text")
        %p.hint-inline The inline hint for the control element

