
%form(role="form")
  %fieldset
    %legend Select Controls
    .control-group
      .controls
        %select
          %optgroup(label="Colorado")
            %option(selected="selected" value="denver") Denver
            %option(value="boulder") Boulder
          %optgroup(label="California")
            %option(value="los angeles") Los Angeles
            %option(value="san francisco") San Francisco
    .control-group
      %label.control-label(for="fcsm_select") Multiple Select
      .controls
        %select#fcsm_select(multiple)
          %option(value="1") One
          %option(selected="selected" value="2") Two
          %option(value="3") Three
          %option(value="4") Four
          %option(value="5") Five

