
%form.form-inline.well.fill(role="form")
  %input#fi_email(type="email" placeholder="email")
  %input#fi_passw(type="password" placeholder="password")
  %select
    %option(selected="selected" value="denver") Denver
    %option(value="boulder") Boulder
    %option(value="los angeles") Los Angeles
    %option(value="san francisco") San Francisco
  %label.checkbox-label
    %input(type="checkbox") Remember me
  %input.btn.standard(type="submit" value="Go")

