
%nav(data-bindable="toggle-group")
  %ol.nav.pagination
    %li.disabled<
      %a(href="#") &laquo;
    %li<
      %a(href="#") 1
    %li.active<
      %a(href="#") 2
    %li<
      %a(href="#" rel="next") 3
    %li<
      %a(href="#") &hellip;
    %li<
      %a(href="#") 11
    %li<
      %a(href="#") 12
    %li<
      %a(href="#") &raquo;
%hr
%nav.pagination-center(data-bindable="toggle-group")
  %ol.nav.pagination
    %li.disabled<
      %a(href="#") &laquo;
    %li<
      %a(href="#") 1
    %li.active<
      %a(href="#") 2
    %li<
      %a(href="#" rel="next") 3
    %li<
      %a(href="#") &hellip;
    %li<
      %a(href="#") 11
    %li<
      %a(href="#") 12
    %li<
      %a(href="#") &raquo;
%hr
%nav.pagination-right(data-bindable="toggle-group")
  %ol.nav.pagination
    %li.disabled<
      %a(href="#") &laquo;
    %li<
      %a(href="#") 1
    %li.active<
      %a(href="#") 2
    %li<
      %a(href="#" rel="next") 3
    %li<
      %a(href="#") &hellip;
    %li<
      %a(href="#") 11
    %li<
      %a(href="#") 12
    %li<
      %a(href="#") &raquo;

