
.progress(role="progressbar")
  .bar(style="width:60%")

.progress.important(data-initial="80" role="progressbar")
  .bar

.progress.success(role="progressbar")
  .bar(style="width:60%")

.progress.warning(role="progressbar")
  .bar(style="width:60%")

.progress.danger(role="progressbar")
  .bar(style="width:60%")

