
.progress
  .bar(style="width:60%")

.progress.important(data-initial="80")
  .bar

.progress.success
  .bar(style="width:60%")

.progress.warning
  .bar(style="width:60%")

.progress.danger
  .bar(style="width:60%")

