
%nav.well
  %ul.nav(data-bindable="togglable-group")
    %li.nav-header Nav Header
    %li
      %a(href="#") Block Link 1
    %li.active
      %a(href="#") Block Link 2
    %li
      %a(href="#") Block Link 3
    %li.nav-divider
    %li.nav-header Nav Header
    %li
      %a(href="#") Block Link 4
%nav
  %ul.nav.inline(data-bindable="togglable-group")
    %li
      %a(href="#") Inline Link 1
    %li.active
      %a(href="#") Inline Link 2
    %li
      %a(href="#") Inline Link 3

