
%nav#tab_demo
  %ul.nav.tab(data-bindable="togglable-group" data-related="#tab_content .tab-pane")
    %li.active<
      %a(href="#tab_one") Tab One
    %li<
      %a(href="#" data-target="#tab_two") Tab Two
    %li<
      %a(href="#tab_three") Tab Three

    %li.drop(data-bindable="drop" data-group=".tab")
      %a(href="#") Tab Drop <span class="caret"></span>
      %ul.nav.menu
        %li<
          %a(href="#tab_four") Tab Four
        %li<
          %a(href="#tab_five") Tab Five
        %li<
          %a(href="#tab_six") Tab Six

%section#tab_content.tabable-content(style="margin-top:1.25em;")
  %article.tab-pane.active#tab_one
    %p Tab content <span class="decal important">one</span>
  %article.tab-pane#tab_two
    %p Tab content <span class="decal success">two</span>
  %article.tab-pane#tab_three
    %p Tab content <span class="decal danger">three</span>

  %article.tab-pane#tab_four
    %p Tab sub content <span class="decal warning">four</span>
  %article.tab-pane#tab_five
    %p Tab sub content <span class="decal inverse">five</span>
  %article.tab-pane#tab_six
    %p Tab sub content <span class="decal important">six</span>

