%nav
  %ul.nav.inline
    %li<
      %a#north_tip(data-bindable="tip" data-delay="100" title="The Northern Tip" href="#") Northern Tip
    %li<
      %a#south_tip(data-bindable="tip" data-placement="south" data-delay="500,1000" title="The Southern Tip" href="#") Southern Tip
    %li<
      %a#east_tip(data-bindable="tip" data-placement="east" title="The Eastern Tip" href="#") Eastern Tip
    %li<
      %a#west_tip(data-bindable="tip" data-placement="west" title="The Western Tip" href="#") Western Tip
    %li<
      %a#image_tip(data-bindable="tip" data-placement="north" data-trigger="click" title="<img src='http://placehold.it/260x180' width=260 height=180 />" href="#") Image Tip (click)

