%nav
  %ul.nav.inline
    %li#one
      %a(data-bindable="toggler" href="#") One
    %li#two
      %a(data-bindable="toggler" href="#this" data-trigger="hover" data-toggle="fade") Two
    %li#three
      %a(data-bindable="toggler" href="#span" data-solo="true" data-toggle="fade") Three <span id="span">Span</span>
    %li#four
      %a.inline(data-bindable="toggler" href=".nav" data-lookup="closest" data-toggle="inline") Four
    %li#five
      %a(data-bindable="toggler" href="#toggler" data-target=".nav" data-lookup="closest" data-toggle="inline" data-bubble="true") Five
    %li#six
      %a(data-bindable="toggler" href="#" data-activate="true") Six

