
%h5#togglable_heading Heading
%nav
  %ul.nav.inline
    %li#one<
      %a(data-bindable="togglable" href="#") One
    %li#two<
      %a(data-bindable="togglable" data-target="this" href="#" data-trigger="hover" data-toggle="fade") Two
    %li#three<
      %a(data-bindable="togglable" href="#" data-related="#span" data-related-toggle="fade") Three <span id="span">Span</span>
    %li#four<
      %a(data-bindable="togglable" href=".nav" data-lookup="closest" data-toggle="inline") Four
    %li#five<
      %a(data-bindable="togglable" href="#five" data-target="#find_bang" data-bubble="true") Five <span id="find_bang">!</span>
    %li#six<
      %a(data-bindable="togglable" href="#" data-activate="true") Six
    %li#seven<
      %a(data-bindable="togglable" href="#togglable_heading" data-context="body" data-toggle="fade") Seven
    %li#eight<
      %a(data-bindable="togglable" href="#" data-delay="activate: 1000, deactivate: 500") Eight

