
%h5.mansfield Mansfield
%a.one(data-bindable="toggler" href="#") Basic
%a.two(data-bindable="toggler" href="#this" data-trigger="hover" data-toggle="fade") Hover
%a.three(data-bindable="toggler" href="#span" data-solo="true" data-toggle="fade") Hide <span id="span">Span</span> only
%a.four(data-bindable="toggler" href=".mansfield" data-lookup="siblings" data-toggle="fade") Hide Mansfield and link
%a.five(data-bindable="toggler" href="#toggler" data-target=".mansfield" data-lookup="siblings" data-toggle="fade" data-bubble="true") Change url
%a.six(data-bindable="toggler" href="#" data-activate="true") Start in active state

