%section(style="width:45%; float:left; margin-right: 5%;")
  %h4 Inline elements examples
  %br
  %p
    Yeah, well, <em>listen</em>. You <kbd>ought</kbd> to <strong>ditch</strong> the <strong><em>two</em></strong>
    <a href="http://modeset.com/">geeks</a> you're in the <dfn title="motorized vehicle">car</dfn> with now and get
    <sub>in with</sub> us. But <samp>that's</samp> <code>alright</code>, <mark>we'll worry about</mark> that <time>later</time>.
    I will <small>see you</small> there. All right<sup>™</sup>? <del>Man</del>, <ins>I love</ins> those
    <abbr title="Hotties">redheads</abbr>.

%section(style="width:45%; float:left;")
  %h4 Address examples
  %br
  %address
    <strong>Mr. Address Tag</strong>
    <br />
    1600 Pennsylvania Ave NW
    <br />
    Washington D.C. DC 20500
    <br />
    <br />
    <strong>Email:</strong>
    <br />
    <a href="#">president@whitehouse.gov</a>

