%section(style="width:25%; float:left; margin-right: 5%;")
  %p<
    %strong Definition list:
  %dl
    %dt Definition Term
    %dd Definition Description Lorem ipsum dolor sit amet.
    %dt Definition Term
    %dd Definition Description Lorem ipsum dolor sit amet.
    %dt Definition Term
    %dd Definition Description Lorem ipsum dolor sit amet.

%section(style="width:60%; float:left;")
  %p<
    %strong Horizontal Definition list:
  %dl.dl-horizontal
    %dt Definition Term
    %dd Definition Description Lorem ipsum dolor sit amet.
    %dt Definition Term
    %dd Definition Description Lorem ipsum dolor sit amet.
    %dt Definition Term
    %dd Definition Description Lorem ipsum dolor sit amet.

