
%blockquote
  %p<
    &#8220;Let me tell you what Melba Toast is packin' right here, all right. We got 4:11 Positrac outback, 750 double pumper, Edelbrock intake, bored over 30, 11 to 1 pop-up pistons, turbo-jet 390 horsepower. We're talkin' some f***in' muscle.&#8221;
    <small>David Wooderson, <cite title="link to source">Dazed &amp; Confused</cite></small>

