
$notification-list: nil !default

@mixin notification-coloring($color)
  background-color: lighten($color, 40%)
  border-color: lighten($color, 20%)
  color: $color

.notification
  +notification-coloring(darken($info, 15%))
  border-width: 1px
  border-style: solid
  border-radius: $radii
  text-shadow: $small-drop-lite
  position: relative
  padding: 0.8em
  margin: 1em 0

.notification > p
  margin: 0

.notification a
  text-decoration: underline

.notification .close
  position: absolute
  text-decoration: none
  top: 0.5em
  right: 0.5em


// Add modifiers from a list
@if $notification-list != nil
  @each $_status in $notification-list
    $_class_name: nth($_status,1)
    $_color_value: nth($_status,2)
    .notification.#{$_class_name}
      +notification-coloring($_color_value)

