
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title>Docs</title>
    <meta name="imagetoolbar" content="no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-touch-fullscreen" content="YES" />
    <meta name="apple-mobile-web-app-capable" content="YES" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <link rel="stylesheet" href="/assets/application.css" type="text/css">
    <link rel="stylesheet" href="/docs/sherpa.css" type="text/css">
  </head>

  <body>

    <aside class="sherpa-sidebar">
      <nav>
        <a class="sherpa-brand" href="/">Utensils</a>
        <ul class="sherpa-dox-nav sherpa-nav-list">
          <li class="sherpa-nav-header">Documentation</li>
        </ul>
      {{#aside}}
        <ul class="sherpa-anchor-nav sherpa-nav-list">
          {{{aside}}}
        </ul>
      {{/aside}}
      </nav>
    </aside>

    <section class="sherpa-wrapper sherpa-container sherpa-clearfix">
      {{{layout}}}
    </section>

    <footer class="sherpa-footer sherpa-container sherpa-clearfix">
    </footer>
    <ul id="flash_message_demo" class="flash-message top"></ul>
    <script src="/assets/application.js"></script>
    <script src="/docs/sherpa.js"></script>
  </body>
</html>

