%section.container(style="margin-top: 3em;")
  %h1 Utensils
  %p<
    %strong Client side component library, tuned to work with the asset pipeline.
  %p &raquo; <a href="/teabag">Teabag Specs</a>
  %p &raquo; <a href="/docs">Documentation</a> / <a href="/docs/live">Development Mode</a>
  %p &raquo; <a href="https://github.com/modeset/utensils">GitHub Repository</a>


  %figure(style="margin-top: 3em;")<
    %a(href="http://modeset.com/")
      %img(style="width:125px; height:125px;"src="http://modeset.github.com/images/modeset-logo.png" alt="modeset")

