$cursor-open-hand-path: "/assets/cursors/openhand.cur" !default
$cursor-closed-hand-path: "/assets/cursors/closedhand.cur" !default

.hand 
  cursor: hand 
  cursor: grab 
  cursor: -moz-grab 
  cursor: -webkit-grab

.handCursor 
  cursor: url($cursor-open-hand-path), default !important

.handGrab 
  cursor: hand 
  cursor: grabbing
  cursor: -moz-grabbing
  cursor: -webkit-grabbing

.handGrabCursor 
  cursor: url($cursor-closed-hand-path), default !important
