
//~
// Mixins for creating responsive behavior around structures and layouts.
//
// Mixin                 | Parameters    | Usage
// --------------------- | ------------- | ---------------------
// `+resize_containers`  | `$base_value` | Resize any containers based on the media query

@mixin resize_containers($size)
  .container
    max-width: $size* 1px
  .container.fluid,
  .container.fixed
    max-width: none
  .container.fixed
    width: $size * 1px

